/* Products.css */


.search-bar {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .search-bar input {
    padding: 8px;
    width: 80%;
    
    border: 1px solid #ddd;
    border-radius: 5px;
  }
.product-container {
    display: flex;
    flex-wrap: wrap;
    flex: auto;
    justify-content: space-around;
    padding: 5%;
    cursor: pointer;
}

.product-card:hover{
    background-color: rgb(245, 248, 250);
}

h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.product-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow:  0px 5px 15px    rgba(24, 20, 20, 0.1);
    margin: 10px;
    padding: 15px;
    width: 200px; /* Adjust the width as needed */
    text-align: center;
    
    width: 26%;
}

.title{
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.description{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    
}

.price{
    font-weight: bold;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.product-card p{
    font-style: initial;
}

.product-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product-details {
    font-size: 16px;
}

.product-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.product-actions button {
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
}

.product-actions button.edit {
    background-color: #3498db;
    color: white;
}

.product-actions button.delete {
    background-color: #e74c3c;
    color: white;
}

@media (max-width: 768px) {
    .product-card {
        width: 100%;
    }
}
